.goTop {
  margin-left: 75vw;
  margin-top: 60vh;
  position: fixed;
  background-color: white;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 100px;
  border: lightgray solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}