.section {
  width: 100vw;
  height: calc(100vh - 10vh - 50px - 100px - 50px);
}

.weatherContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px 5vw;
  gap: 20px;
  color: white;
}
.weatherContainer .infoContainer {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 2px;
}
.weatherContainer .infoContainer .currentTemp {
  font-size: 1.4rem;
}
.weatherContainer .weatherImage {
  overflow: hidden;
  display: flex;
}

.greeting {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  height: 200px;
  position: absolute;
  text-align: center;
  margin-top: 10vh;
}
.greeting .text {
  overflow: visible;
  width: 60%;
  min-width: 200px;
  text-align: center;
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  word-break: keep-all;
}

@media (max-width: 991px) {
  .greeting {
    font-size: 3rem;
  }
}
@media (max-width: 767px) {
  .weatherContainer {
    display: flex;
    margin: 0px 10vw;
  }
  .weatherContainer .infoContainer {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 2px;
  }
  .weatherContainer .infoContainer .currentTemp {
    font-size: 1.2rem;
  }
  .weatherContainer .weatherImage {
    overflow: hidden;
    display: flex;
    width: 30px;
  }
}
@media (max-width: 575px) {
  .greeting {
    font-size: 2rem;
  }
}