.post-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
}
.post-list .post-item {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px);
  min-height: 20px;
  height: 20px;
  padding: 10px;
  cursor: pointer;
}
.post-list .post-item .titleContainer {
  display: flex;
  align-items: center;
}
.post-list .post-item .titleContainer .title {
  font-size: 12pt;
  font-weight: bold;
  width: 50vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.post-list .post-item .infoContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}
.post-list .post-item .infoContainer * {
  font-size: 10pt;
}
.post-list .post-item:hover {
  background-color: #c7deca;
}
.post-list .even {
  background-color: #f3f3f3;
}