nav {
  width: 100vw;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 3px 9px 888;
}
nav .hamburgerMenu {
  display: none;
  margin-left: 10vw;
  width: calc(100vw - 20vw);
  justify-content: space-between;
}
nav .hamburgerMenu .loginContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
nav .hamburgerMenu .profileContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
nav .hamburgerMenu .profileContainer .nicknameContainer {
  display: flex;
  align-items: center;
}
nav .hamburgerMenu .profileContainer .nicknameContainer .nickname {
  font-size: 14pt;
}
nav .hamburgerMenu .profileContainer .imageContainer {
  position: relative;
}
nav .hamburgerMenu .profileContainer .imageContainer .profile {
  display: flex;
  flex-direction: column;
  width: 32px;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
}
nav .hamburgerMenu .profileContainer .imageContainer .profile img {
  border: 1px solid lightgray;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
nav .hamburgerMenu .profileContainer .imageContainer .menu {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 150px;
  background-color: white;
  right: 1vw;
  margin-top: 10px;
  border: 1px solid lightgray;
}
nav .logoContainer {
  margin-left: 7.5vw;
  justify-self: start;
}
nav .logoContainer a {
  max-height: 30px;
  padding: 10px 20px;
  border-radius: 50px;
  border: 2px transparent solid;
}
nav .logoContainer a:hover {
  border: 2px solid black;
}
nav .logoContainer .active {
  background-color: white;
  color: black;
  backdrop-filter: blur(50px);
}
nav .menuContainer {
  display: flex;
  gap: 20px;
  margin-right: 7.5vw;
  justify-self: end;
}
nav .menuContainer a {
  max-height: 25px;
  padding: 10px 20px;
  border-radius: 50px;
  border: 2px transparent solid;
  display: flex;
  align-items: center;
  gap: 20px;
}
nav .menuContainer a:hover {
  text-decoration: underline;
}
nav .menuContainer .active {
  background-color: black;
  color: white;
}
nav .menuContainer .profileContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
nav .menuContainer .profileContainer .nicknameContainer {
  display: flex;
  align-items: center;
}
nav .menuContainer .profileContainer .nicknameContainer .nickname {
  font-size: 14pt;
}
nav .menuContainer .profileContainer .imageContainer {
  position: relative;
}
nav .menuContainer .profileContainer .imageContainer .profile {
  display: flex;
  flex-direction: column;
  width: 32px;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
}
nav .menuContainer .profileContainer .imageContainer .profile img {
  border: 1px solid lightgray;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
nav .menuContainer .profileContainer .imageContainer .menu {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 150px;
  background-color: white;
  right: 1vw;
  margin-top: 10px;
  border: 1px solid lightgray;
}
nav .menuContainer .profileContainer:hover .menu {
  display: flex;
}
nav .light {
  color: white;
}

@media (max-width: 767px) {
  nav .menuContainer,
.logoContainer {
    display: none;
  }

  nav .hamburgerMenu {
    display: flex;
  }
}