.buttonContainer {
  display: -webkit-inline-flex;
  gap: 10px;
  align-items: center;
}
.buttonContainer button {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 10px;
  font-size: 10pt;
  font-weight: bold;
  color: white;
  background-color: #73b97d;
  cursor: pointer;
}
.buttonContainer .delBtn {
  background-color: #d59191;
}

.content {
  margin: 10vh 0;
}