.writeBtn {
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 10px;
    font-size: 10pt;
    font-weight: bold;
    color: white;
    background-color: rgb(115, 185, 125);
    cursor: pointer;

}