.post-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 400px;

    .post-item {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 20px);
        min-height: 20px;
        height: 20px;
        padding: 10px;
        cursor: pointer;

        .titleContainer {
            display: flex;
            align-items: center;

            .title {
                font-size: 12pt;
                font-weight: bold;
                width: 500px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-break: break-all;

            }

        }

        .infoContainer {
            display: flex;
            gap: 20px;
            align-items: center;

            * {
                font-size: 10pt;
            }
        }

    }

    .post-item:hover {
        background-color: #c7deca;
    }

    .even {
        background-color: rgb(243, 243, 243);
    }

}