nav {
    width: 100vw;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;

    .logoContainer {
        margin-left: 5vw;
        justify-self: start;

        a {
            padding: 10px 20px;
            border-radius: 50px;
            border: 2px transparent solid;

        }

        a:hover {
            border: 2px black solid;
        }

        .active {
            background-color: black;
            color: white;
        }
    }

    .menuContainer {
        display: flex;
        gap: 20px;
        margin-right: 5vw;
        justify-self: end;

        a {
            padding: 10px 20px;
            border-radius: 50px;
            border: 2px transparent solid;

        }

        a:hover {
            border: 2px black solid;
        }

        .active {
            background-color: black;
            color: white;
        }
    }
}